<section>
    <div class=container-fluid>
        <div class="row">
            <div class="col-sm-offset-5 col-sm=7">
                <!-- ko if: information.isStudent -->
                <h1>Hello, <!--ko text:name--><!--/ko--></h1>
                <!-- /ko -->
                <!-- ko if: information.isStartup -->
                <h1>Welcome, <!--ko text:name--><!--/ko--></h1>
                <!-- /ko -->
            </div>
        </div>
        <div class="row">
            <div id="leftColumnLayout" class="col-sm-7">
                <div class="row">
                    <div class="col-sm-12" data-bind="compose:'viewmodels/meetups'"></div>
                </div>
            </div>
            <div id="rightColumnLayout" class="col-sm-5">
                <div class="row">
                    <div class="col-sm-12" data-bind="compose: information"></div>
                </div>
            </div>
        </div>
    </div>
</section>

