<section>
    <div class=container-fluid>
        <div class="row">
            <div class="col-sm-offset-5 col-sm=7">
                <h1>Dashboard</h1>
            </div>
        </div>
        <div class="row">
            <div id="leftColumnLayout" class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12" data-bind="compose:'viewmodels/meetups'"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12" data-bind="compose:'viewmodels/recentlyExplored'"></div>
                </div>
            </div>
            <div id="rightColumnLayout" class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12" data-bind="compose:'viewmodels/information'"></div>
                </div>
            </div>
        </div>
    </div>
</section>

