<section>
    <div class="container">
        <div class="row">
                <img class="center-block smeets-logo"/>
                <h3 style="text-align:center">Students Meet Startups</h3>
            <div class="col-sm-6 col-md-4 col-md-offset-4">

                <div class="alert alert-danger" role="alert" data-bind="visible: errorMessage, text: errorMessage"></div>

                <div class="account-wall">
                    <form class="form-signin">
                        <input type="text" data-bind="value: username" class="form-control" placeholder="Username" required autofocus />
                        <input type="password" data-bind="value: password" class="form-control" placeholder="Password" required />

                        <button class="btn btn-lg btn-primary btn-block" type="submit" data-bind="click: login">Log me in!</button>
                        <button class="btn btn-lg btn-success btn-block" type="submit" data-bind="click: signup"> Sign me up!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
