<section>
    <div class="row">
        <div class="col-sm-12">
            <h3>Meetups</h3>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                This is where the Meetups content will go.
            </div>
            <button class="btn btn-lg btn-success btn-block" type="submit" data-bind="click: createNewMeetup, visible: isStartup">Create a Meetup</button>
            <button class="btn btn-lg btn-primary btn-block" type="submit" data-bind="click: browse, visible: isStudent">Browse Startups</button>
        </div>
    </div>
</section>
