<section>
    <div class="row">
        <div class="col-sm-12">
            <h3>Meetups</h3>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class = "row">
                            <div class="col-sm-12">
                            </div>
                            <div class="col-sm-2">
                                <h5>Upcoming</h5>
                            </div>
                            <div class="col-offset-sm-6 col-sm-3">
                                <button class="btn btn-sm btn-success btn-block" type="submit" 
                                    data-bind="click: createNewMeetup, visible: isStartup">Create a Meetup</button>
                            </div>                     
                        </div>
                    </div>

                    <!-- ko if: isStartup -->
                    <p class="text-center" data-bind="visible: meetups().length == 0">You have no scheduled meetups.</p>
                    <table class="table table-hover" data-bind="visible: meetups().length > 0">
                        <thead>
                            <tr>
                                <th>When</th>
                                <th>Where</th>
                                <th>Max Participants</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: meetups">
                                <tr>
                                    <td data-bind="text: formatStartTime()"></td>
                                    <td data-bind="text: location"></td>
                                    <td data-bind="text: numMaxParticipants"></td>
                                    <td data-bind="text: getDuration('hh:mm')"></td>
                                </tr>
                        </tbody>
                    </table>
                    <!-- /ko -->

                    <!-- ko if: isStudent -->
                    <p class="text-center" data-bind="visible: meetups().length == 0">You have no scheduled meetups.</p>
                    <table class="table table-hover" data-bind="visible: meetups().length > 0">
                        <thead>
                            <tr>
                                <th>When</th>
                                <th>Where</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: meetups">
                                <tr>
                                    <td data-bind="text: formatStartTime()"></td>
                                    <td data-bind="text: location"></td>
                                    <td data-bind="text: getDuration('hh:mm')"></td>
                                </tr>
                        </tbody>
                    </table>  
                    <!-- /ko -->
                </div>
            </div>
            <!-- ko if: isStartup -->
            <button class="btn btn-lg btn-primary btn-block" type="submit" data-bind="click: browse">Browse Students</button>
            <!-- /ko -->
            <!-- ko if: isStudent -->
            <button class="btn btn-lg btn-primary btn-block" type="submit" data-bind="click: browse">Browse Startups</button>
            <!-- /ko -->
        </div>
    </div>
</section>
