<div class="modal-content col-md-5 autoclose">
    <div class="modal-header">
        <h3>Sign me up!</h3>
    </div>
    <form id="signupForm" class="form-horizontal form-signup" role="form">
        <div class="container">
            <div class="row">
                <div class="form-group signup-type col-sm-5">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="studentInlineRadio" 
                            value="student" data-bind="checked: accountType, click: changeAccountType"> I'm a Student!
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="startupInlineRadio" 
                            value="startup" data-bind="checked: accountType, click: changeAccountType"> I'm a Startup!
                    </label>
                </div> 
            </div>
            <div class="row">
                <!-- ko if: isStudentAccount -->
                <div class="form-group">
                    <label for="inputName" class="col-sm-1 control-label">Name</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputName" placeholder="Full Name" 
                               data-bind="value: name, valueUpdate: 'afterkeydown'" />
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: isStartupAccount -->
                <div class="form-group">
                    <label for="inputName" class="col-sm-1 control-label">Name</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputName" placeholder="Business Name" 
                               data-bind="value: companyName, valueUpdate: 'afterkeydown'" />
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: accountType -->
                <div class="form-group">
                    <label for="inputName" class="col-sm-1 control-label">Name</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputName" placeholder="Name" />
                    </div>
                </div>
                <!-- /ko -->
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-1 control-label">Username</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="inputEmail" name="username" placeholder="Username" 
                             data-bind="value: credentials().username, valueUpdate: 'afterkeydown'" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-1 control-label">Password</label>
                    <div class="col-sm-4">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password" 
                             data-bind="value: credentials().password, valueUpdate: 'afterkeydown'" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPasswordConfirm" class="col-sm-1 control-label">Confirm</label>
                    <div class="col-sm-4">
                      <input type="password" class="form-control" id="inputPasswordConfirm" placeholder="Re-enter your password" 
                             data-bind="value: passwordConfirmation, valueUpdate: 'afterkeydown'">
                    </div>
                </div>
                <div class="form-group col-sm-5">
                      <button type="submit" class="center-block btn btn-primary" data-bind="click: signup, enable: credentials.isValid() && passwordConfirmation.isValid() && (name.isValid() || companyName.isValid())">Let's go!</button>
                </div>
                </div>
            </div>       
        </div>    
    </form>
</div>
