<div class="modal-content autoclose">
    <div class="modal-header">
        <h3>Sign me up!</h3>
    </div>
    <form class="form-horizontal" role="form">
        <div class="container">
            <div class="row">
                <div class="control-group col-sm-6">
                    <div class="controls col-sm-offset-7">
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="studentInlineRadio" value="option2"> I'm a Student!
                        </label>
                    </div>
                </div>
                <div class="control-group col-sm-6">
                    <div class="controls">
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="startupInlineRadio" value="option3"> I'm a Startup!
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="inputName" placeholder="Full Name/Business Name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-9">
                          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-9">
                          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPasswordConfirm" class="col-sm-2 control-label">Confirm Password</label>
                        <div class="col-sm-9">
                          <input type="password" class="form-control" id="inputPasswordConfirm" placeholder="Re-enter your password">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-5">
                          <button type="submit" class="btn btn-default">Let's go!</button>
                        </div>
                      </div>
                    </div>
            </div>       
        </div>    
    </form>
</div>